html, body {
    overflow-x: hidden;
}
body, #glcanvas {
    margin: 0;
    outline: 0;
    border: 0;
    position: relative;
}

#debug_div {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    color: lightgray;
    padding: 6px;
    font-size: 13px;

}
#debug_div > p {
    margin: 0;
    /*padding: 0;*/
}

#glcanvas {
    cursor: none;
    /*border: red;*/
}
